$violet: #340068;
$pink: #ff6978;
$green: #1a535c;
$burgundy: #6d435a;
$turquoise: #0cbaba;

//grayscale
$white: #fff;
$off-white: #fffcf9;
$gray-light: #d3d3d3;
$gray-mid: #666767;
$gray-dark: #242626;
$black: #0f1111;
